:root {
  --primary-color: magenta;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  color: grey

}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: start;
  background: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-flex;
  margin-left: 25px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 20px;
}

#about-me {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: double;
  outline-color: #2568d4;
  color: black;
  background-color: #e4e4e4;
}

#previous-work {
  margin-bottom: 20px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: double;
  outline-color: #2568d4;
  color: black;
  background-color: #e4e4e4;
}

#about-me h2, #previous-work h3 {
  font-size: 200%;
  color: #2ebfd0;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}

footer ul a {
  text-decoration: underline;
  color: #2589bd;
}

.CSS-display {
  width: 35%;
  border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    margin-left: 30%;
}
.CSS-display:hover {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    transform: scale(1.50)
  }